# Node modules
node_modules/

# Local environment variables
.env.local

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
*.swp
